<div class ='container'>

  <div class = 'page-header'>
    <h2>Select a Month</h2>
  </div>

  <ul class='monthList'>
    <% @months.each do |month| %>
        <li>
            <%= link_to(image_tag("#{month.name}.png"), month_countries_path(month), class: 'btn btn-info btn-lg', role: 'button')%>
        </li>
    <% end %>
  </ul>

</div>
