<div class ='container'>

  <div class = 'page-header'>
    <h2>Select a Month</h2>
  </div>

  <p>
  <ul class='monthList'>
    <% @months.each do |month| %>
        <li>
            <%= link_to(image_tag("#{month.name}.png"), month_countries_path(month))%>
        </li>
    <% end %>
  </ul>
  <p>

</div>
