<h2>Favourites</h2>


<% @favourites.each do |favourite|%>
  <% if current_user.id == favourite.user_id %>
  <ul>
    <li><%= link_to(favourite.hotel.name, hotel_path(favourite.hotel.id)) %></li>
    <li><%= favourite.hotel.formatted_address %></li>
    <li><%= favourite.hotel.rating %></li>

  </ul>
    <div class="delete-button"><%= link_to('Delete', favourite_path(favourite), method: :delete, data: {confirm: "Are you sure you want to delete this hotel?"}, class: 'btn btn-danger btn-lg', role: 'button' ) %></div>

  <% end %>
<% end %>
