<div class ='container'>

  <div class = 'page-header'>
    <h2>Select a Country</h2>
  </div>

  <p>
  <ul class='countryList'>
    <% @countries.each do |country| %>
        <li>
          <%= link_to(country.name, country_cities_path(country), class: 'btn btn-info btn-lg', role: 'button') %>
        </li>
    <% end %>
  </ul>
</p>

</div>
