// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.countryList{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  grid-gap: 1em;

  li{
    a{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 35% 1fr;
        grid-gap: 10%;
        text-align: left;

        .extra_info{
          white-space:normal;
        }
    }

    img{
      width: 70%;
    }

  }

}

@media only screen and (max-width: 600px) {
  .name_flag{
    span{
      display: none;
    }
  }
}
