// Place all the styles related to the Months controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  padding: 0% 1% 1% 1%;

  .app-title{
    text-align: center;
  }
}

.monthList{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;

  a{
      max-width: 1fr;

      img{
        max-width: 100%;
      }
  }

}
