<h1>Hotels#index</h1>
<p>Find me in app/views/hotels/index.html.erb</p>

<ul>
<% @hotelListArray.each do |hotel| %>
  <p><li>

    Name: <%= hotel['name'] %><br>
    Address: <%= hotel['formatted_address'] %><br>
    Rating: <%= hotel['rating'] %>
    <%= link_to('Single Hotel', city_hotel_path(@city_id,hotel['place_id'])) %>
  </p></li>
<% end %>
</ul>
