<h1>Hotels#show</h1>
<p>Find me in app/views/hotels/show.html.erb</p>

Name:<%= @foundHotelsArray[0]['name'] %><br>
Address: <%= @foundHotelsArray[0]['formatted_address'] %><br>
Rating: <%= @foundHotelsArray[0]['rating'] %><br>

<%= link_to('Book Now', @link ) %>
