<div class='left'>

  <div class = 'notDropDown'>
    <%= render partial: 'layouts/headerLeft'%>
  </div>

  <div class="dropdown">
    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= image_tag('menu.png');%>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= render partial: 'layouts/headerLeft'%>
    </div>
  </div>

</div>

<h1 class="app-title">Where_To?</h1>

<div class='right'>
  <%=render partial: 'layouts/headerRight'%>
</div>
